body {
    margin: 0 auto;
}

.main-container {
    margin: 20px 60px 0px 60px;
    /* background: lightcoral; */
    height: 100vh;
    /* background: cadetblue; */
    
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Prompt', sans-serif;
}

.menu a {
    color: lightslategray;
    text-decoration: none;
    font-size: 22px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.menu a:hover {
    color: black;
    background: lightgray;
    border-radius: 5px;
}

.menu ul li {
    display: inline;
    list-style-type: none;
}

.menu ul li:last-child a {
    background: lightcoral;
    color: white;
    border-radius: 5px;
}

.menu ul li:last-child a:hover {
    background: rgb(239, 148, 148);
    color: white;
}

.main-container h1{
    /* background: lightgray; */
    margin-top: 30vh;
    margin-bottom: 5px;
    font-size: 80px;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.main-container h2{
    /* background: lightgray; */
    color: lightslategray;
    margin-top: 5px;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-container p {
    color: gray;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 40px;
    /* background: gray; */
 } 

.container h1 {
    font-size: 40px;
    text-align: center;
}